$primaryColor: #3627fc;
$primary800: #2a1fb4;
$primary700: #3423df;
$primary500: #4e50ff;
$primary400: #707cff;
$primary300: #98abff;
$primary200: #bfccff;
$primary100: #dbe5ff;
$primary50: #ecf1ff;

$white: #fcfbf4;
$midnight: #272e35;
